.lt-main-left {
  float: left;
  width: 120px;
  height: 100%;
  background-color: #E3E4E5;
  position: relative;
}
.lt-main-left li {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.lt-main-left li a {
  color: #666;
}
.lt-main-left .current {
  background-color: #fff;
  border-right: 1px solid transparent;
}
.lt-main-right {
  overflow: hidden;
  height: 100%;
  background-color: #fff;
  position: relative;
}
.lt-main-right li {
  width: 33.33%;
  float: left;
  text-align: center;
  padding-top: 10px;
}
.lt-main-right li img {
  width: 70px;
  height: 50px;
  margin: 0 auto;
}
.nomore {
  padding: 10px;
}
